<style>
	#but {
		background-color: #383d47;
		border-radius: 4px;
		outline: none;
		border: none;
	}
	#but:hover {
		background-color: #494f5c;
	}
	#but:active {
	  background-color: #494f5c;
	  box-shadow: 0 1px #666;
	  transform: translateY(1px);
	}
</style>

{{- range .Site.Menus.main }}
	{{- if .HasChildren }}
		<button onclick="location={{ .URL | absLangURL }}" id="but" class="has-children">{{ .Name }}</button>
		<span class="sub-menu">
		{{- range .Children }}
			<button onclick="location={{ .URL | absLangURL }}" id="but">{{ .Name }}</button>
		{{- end }}
		</span>
	{{- else }}
		| <button onclick="location={{ .URL | absLangURL }}" id="but">{{ .Name }}</button>
	{{- end }}
{{- end }}

