<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<style>
	.search-input {
		background: rgba(0,0,0,.1);
		border: none;
		padding: 10px 50px 10px 10px;
		/*height: 34px;*/
		border-radius: 4px;
		font-size: 16px;
		outline: none;
		width: 0;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		font-weight: bold;
	}

	.search-container:hover .search-input {
		width: 160px;
		opacity: 1;
	}
	.search-container {
		position: relative;
	}
	.search-container:hover i {
		color: #3498DB;
	}

	.search-container i {
		color: #ccc;
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0,-50%);
		cursor: pointer;
		padding-top: 7px;
		font-size: 30px;
	}
</style>
<form action="{{ "search" | absLangURL }}" style="display: inline-block; margin-right: -10px;" autocomplete="off">
	<span class="search-container"><input class="search-input"id="search-query" name="s" placeholder="{{ i18n "enter" .}}"> <i class="fas fa-search"> </i></span>
</form>
