{{ define "head" }}
{{ if .Site.Params.bgImg -}}
<style>.bg-img {background-image: url('{{.Site.Params.bgImg | absURL}}');opacity: .1;}</style>
{{- else if .Site.Params.images -}}
{{- range first 1 .Site.Params.images -}}
<style>.bg-img {background-image: url('{{. | absURL}}');opacity: .1;}</style>
{{- end -}}
{{- end -}}
{{ end }}

{{ define "main" }}
{{- if (or .Site.Params.images .Site.Params.bgImg) }}
<div class="bg-img"></div>
{{- end }}
<div id="spotlight" class="animated fadeIn">
	<div id="home-center">
		<style>
			.bg-img {
				transform: scale(1.2);
				background-repeat: repeat-x;
				opacity: 0.4;
				animation: backgroundScroll 10s linear infinite;
				animation-direction: alternate;
			}
			@keyframes backgroundScroll {
				0%   {background-position: 0 0;}
				50%  {background-position: -100px 0;}
				100% {background-position: 0 0;}
			}
			.container {
				position: relative;
				width: 200px;
				height: 200px;
				align-content: center;
				align-self: center;
				align-items: center;
				vertical-align: center;
				border-radius: 50%;
				margin-top: 100px;
			}
			img {
				position: absolute;
				width: 200px;
				left: 0;
				border-radius: 50%;
			}

			@media (max-width: 760px) {
				.container {
					margin-top: 50px;
				}
			}
		</style>
		<div class="container">
			<img src="https://avatars3.githubusercontent.com/u/55048462?s=400&u=8ef603c9518ca04c268455a467e6570490aac72e&v=4" alt="author">
		</div>
		{{ partialCached "searchO.html" . }}
		<a href="{{ .Site.BaseURL }}"><h1 id="home-title" style=""><span style="color: #3498DB">O</span>h, fixed it</h1></a>
		
		{{- with .Site.Params.homeSubtitle }}
		<p id="home-subtitle">{{.}}</p>
		{{- end }}
		
		<nav id="home-social" style="margin-top: 10px; padding: 0; font-size: .8em;">
			{{ partialCached "menu0.html" . }}
		</nav>
	</div>
	<div id="home-footer" style="padding-bottom: 5pt">
		&copy; {{ now.Format "2006" }} <a href="{{ "/" | absLangURL}}">{{ i18n "author" }}</a> 
		{{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>{{ end }}
		<select onchange="location = this.value" style="background-color: #494f5c; border-radius: 4px; outline: none;">
			{{ $lang := .Language.LanguageName }}
			{{ range $.AllTranslations }}
			{{ if eq .Language.LanguageName $lang }}
			<option value="{{ .Permalink }}" disabled selected>{{ .Language.LanguageName }}</option>
			{{ else }}
			<option value="{{ .Permalink }}">{{ .Language.LanguageName }}</option>
			{{ end }}
			{{ end }}
		</select>
		{{ end }}
