{{ define "header" }}
{{ partial "header0.html" . }}
{{ if .Site.Params.bgImg -}}
<style>.bg-img {background-image: url('{{.Site.Params.bgImg | absURL}}');opacity: .1;}</style>
{{- else if .Site.Params.images -}}
{{- range first 1 .Site.Params.images -}}
<style>.bg-img {background-image: url('{{. | absURL}}');opacity: .1;}</style>
{{- end -}}
{{- end -}}
{{ end }}
{{ define "main" }}
{{- if (or .Site.Params.images .Site.Params.bgImg) }}
<div class="bg-img"></div>
{{- end }}
<main class="site-main section-inner thin animated fadeIn faster">
	<!-- <h1>{{ .Title }}</h1> -->

	<div id="home-center">
	<style>
		@keyframes backgroundScroll {
			0%   {background-position: 0 0;}
			50%  {background-position: -100px 0;}
			100% {background-position: 0 0;}
		}
		.container {
			position: relative;
			width: 200px;
			height: 200px;
			align-content: center;
			align-self: center;
			align-items: center;
			vertical-align: center;
			border-radius: 4px;
		}
		.overlay {
			position: absolute;
			border-radius: 4px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0);
			transition: background 0.5s ease;
		}

		.container:hover .overlay {
			display: block;
			animation: ham 0.4s 1;
			animation-direction: alternate;
			background: rgba(0, 0, 0, .7);
		}

		img {
			float: left;
			position: absolute;
			width: 200px;
			left: 0;
			border-radius: 4px;
			/*box-shadow: -0px 2px 5px 5px rgba(0, 0, 0, 0.4);*/
		}

		@media (max-width: 760px) {
			.container {
				margin-top: 30px;
			}
		}
		.button {
			position: absolute;
			left: 0%;
			right: 0%;
			top: 150px;
			opacity: 0.3;
			font-size: 22px;
		}
		@keyframes skew {
			0% {
				transform: skewX(-5deg);
			}
			50% {
				transform: skewX(5deg);
			}
		}
		@keyframes ham {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}

		.container:hover .button {
			transition-delay: 0.3s;
			animation: skew 0.5s infinite;
			animation-direction: alternate;
			animation-delay: 0.4s;
			opacity: 1;
		}
		.container:hover .button:hover {
			animation-play-state: paused;
		}
	</style>
	<div class="container">
		<img src="https://avatars2.githubusercontent.com/u/42998134?s=460&v=4" alt="author">
		<div class="overlay"></div>
		<div class="button">
			{{- with .Site.Params.social }}
			<div id="home-social">
				{{ partialCached "social-icons.html" . }}
			</div>
			{{- end }}
		</div>
	</div>
</div>
	<div class="content">
		{{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>${3}` | safeHTML }}
	</div>
	{{ with .Params.comments -}}
	{{ partialCached "comments.html" . }}
	{{- end }}
</main>
{{ end }}
